.alert {
  padding: 15px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
body {
  margin: 0;
  font-family: RobotoDraft;
  background: #ffffff;
  overflow: hidden;
}
.fullpage {
  background: linear-gradient(#F4F4F4, #B1B1B1);
  background-size: 320px 240px;
  background-attachment: fixed;
  overflow: hidden;
  padding: 0px;
  width: 320px;
  height: 240px;
  position: relative;
  margin: 0 auto;
}
h1 {
  font-size: 18px;
  margin: 10px 0 0 0;
}
h2 {
  font-size: 17px;
  margin: 10px 0 0 0;
}
h3 {
  font-size: 12px;
  margin: 10px 0 0 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
.bigtabs {
  font: bold 9px RobotoDraft;
  list-style-type: none;
  margin: 0;
  padding: 0 0 23px 3px;
  border-bottom: 1px solid #404040;
}
.bigtabs li {
  float: left;
  height: 19px;
  background-color: #595959;
  margin: 2px 2px 0 2px;
  border: 1px solid #404040;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.bigtabs a {
  float: left;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.bigtabs .active {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
.bigtabs .active a:hover {
  background-color: #ffffff;
}
.bigtabs a:hover {
  background: #7f7f7f;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.bigtabs .active a {
  color: #000000;
}
.modal-fit {
  max-width: 320px;
  max-height: 230px;
  width: auto;
  margin: auto auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal-fit img {
  max-height: 320px;
  max-width: 240px;
}
.modal-fit .modal-content {
  border: 0;
  border-radius: 0;
  max-height: 230px;
}
.modal-fit .modal-body {
  padding: 0 !important;
  text-align: center;
  max-height: 230px;
}
.pointer {
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content {
  border-width: 0;
  border-color: #404040;
  border-style: solid;
  padding: 0;
  background-color: #ffffff;
  font: 8px RobotoDraft;
  color: #000000;
  height: 220px;
  overflow: hidden;
}
.logo {
  position: absolute;
  height: auto;
  width: auto;
  left: 4px;
  top: 2px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.fileselectorBottom {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130px;
  border-right: 1px solid #dddddd;
}
.fileselectorleft {
  display: block;
  float: left;
  width: 130px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #dddddd;
  padding: 0;
  height: 230px;
  margin: 0;
}
.fileselectorleft h3 {
  border-bottom: 1px solid #dddddd;
  padding: 10px 10px 10px;
  margin: 0;
}
.fileselectorleft .entry {
  border-bottom: 1px solid #dddddd;
  border-top: 0;
  vertical-align: top;
  background-color: #ffffff;
  color: #000000;
  padding: 3px 10px;
  position: relative;
}
.fileselectorleft .entry .date {
  font-size: 12px;
}
.fileselectorleft .entry .filename {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
.fileselectorleft .entry:hover {
  background: #F5F5F5;
}
.fileselectorleft .entry-image {
  height: 42px;
}
.fileselectorleft .entry-image img {
  width: 64px;
  height: 48px;
  margin: -3px -10px;
  position: absolute;
}
.fileselectorleft .entry-image .date {
  margin-left: 56px;
}
.fileselectorleft .entry-image .filename {
  margin-left: 56px;
}
.fileselectorinfo {
  display: block;
  float: right;
  width: 185px;
  height: 260px;
  margin: 0 0px;
  padding-right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.fileselectorinfo h3 {
  padding: 1px 0px 1px 1px;
  margin: 0;
}
.margin-top {
  margin-top: 1px;
}
.move-control {
  width: 190px;
  float: left;
  padding: 1px;
}
.commands {
  width: 350px;
  float: left;
  padding: 15px;
}
.speed-temperature-controls {
  width: 120px;
  float: left;
  padding: 3px;
}
.row {
  margin-bottom: 1px;
}
#printinfo .row {
  padding: 2px 0;
}
#printinfo .extra {
  padding-top: 2px;
  padding-bottom: 2px;
}
.col-1 {
  width: 8.333333333%;
}
.col-2 {
  width: 16.66666666%;
}
.col-3 {
  width: 15%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666666%;
}
.col-12 {
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  display: block;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.btn .caret {
  margin-left: 0;
}
.btn {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0px 3px;
  font-size: 7px;
  line-height: 15px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 16px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.btn-md {
  padding: 5px 8px;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  vertical-align: middle;
}
.btn-queue {
  padding: 0px 7px;
  font-size: 21px;
  line-height: 16px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.btn-trash {
  padding: 0px 7px;
  margin: 2px;
  font-size: 8px;
  line-height: 15px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.btn-icon{
  padding: 0px 7px;
  font-size: 8px;
  line-height: 16px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.off-dark {
  background-color: #D9534F;
  border-color: #d43f3a;
}
.off-bright {
  background-color: #fff;
  border-color: #d43f3a;
  color: #333;
}
.off-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-color: #D9534F;
  border-color: #d43f3a;
}
.off-bright:hover,
.btn-bright:focus,
.btn-bright.focus,
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
  border-color: #d43f3a;
}
.on-dark {
  background-color: #3CAA49;
  border-color: #30883A;
}
.on-bright {
  background-color: #fff;
  border-color: #30883A;
  color: #333;
}
.on-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-color: #3CAA49;
  border-color: #30883A;
}
.on-bright:hover,
.btn-bright:focus,
.btn-bright.focus,
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
  border-color: #30883A;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pull-right {
  float: right !important;
}
.clearfix,
.row:before,
.row:after,
.modal-footer {
  clear: both;
  content: " ";
  display: table;
}
.clearfix,
.rowprint:before,
.rowprint:after,
.modal-footer {
  clear: both;
  content: " ";
  display: table;
}
.list-group {
  box-sizing: border-box;
}
.list-group .headline,
.list-group .headline:hover {
  background: #DDDDDD !important;
  font-weight: bold;
}
div {
  display: block;
}
.condensed .list-group-item {
  padding: 4px 15px;
}
.list-group-item:first-child {
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 3px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
.list-group-item:last-child {
  margin-bottom: 0;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.nogrid .list-group-item {
  border: 0 !important;
}
.grid {
  border: 1px solid #ddd;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.emergencystop {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  height: 30px;
}
.fullscreen {
  position: absolute;
  top: 0px;
  right: 38px;
  font-size: 26px;
  color: #000000;
}
.speed-temperature {
  line-height: 19px;
  vertical-align: middle;
}
.bold {
  font-weight: bold;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.metertext {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
.progress {
  overflow: hidden;
  height: 23px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar-striped,
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success #gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info #gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning #gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger #gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.center {
  text-align: center;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 45px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 30px;
  font-size: 24px;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.bigtext {
  font-size: 24px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.btn-block {
  display: block !important;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-dialog {
  width: 600px;
  margin: 1px auto;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-sm {
  width: 412px;
  text-align: center;
}
.modal-lg {
  width: 490px;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.keypadnumbers {
  line-height: 60px;
  width: 60px;
  height: 60px;
  padding: 0 4px 4px 4px;
  margin: 0 8px 8px 0;
  font-size: 24px;
  vertical-align: middle;
}
.keypadnumbersenter {
  line-height: 60px;
  width: 206px;
  height: 60px;
  padding: 0 4px 4px 4px;
  margin: 0 8px 8px 0;
  font-size: 24px;
  vertical-align: middle;
}
.keypadnumbersenter2 {
  line-height: 60px;
  width: 136px;
  height: 60px;
  padding: 0 4px 4px 4px;
  margin: 0 8px 8px 0;
  font-size: 24px;
  vertical-align: middle;
}
.yesno {
  line-height: 60px;
  width: 120px;
  height: 60px;
  padding: 0 4px 4px 4px;
  margin: 10px 12px;
  font-size: 24px;
  vertical-align: middle;
}
.keypadnumbersinput {
  line-height: 60px;
  width: 264px;
  height: 60px;
  padding: 0 4px 4px 4px;
  margin: 0 8px 8px 0;
  font-size: 24px;
  vertical-align: middle;
  text-align: right;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.units .input-group-addon {
  width: 80px;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: 58px;
  padding: 0px 12px;
  font-size: 24px;
  line-height: 58px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
.iconwidth {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
}
.settings {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 220px;
}
.nomarginbottom {
  margin-bottom: 0;
  vertical-align: middle;
}
.buttonsettings {
  width: 300px;
  font-size: 20px;
  line-height: 40px;
  margin-top: 25px;
  text-decoration: none;
}
.configbottom {
  margin-bottom: 25px;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
.modal.fade {
  opacity: 1;
}
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* Animation in progressbar take much CPU% so disable */
.progress-bar {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}
.progress-bar.active,
.progress.active .progress-bar {
  -webkit-animation: initial !important;
  -o-animation: initial !important;
  animation: initial !important;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
#progressWindow {
  position: absolute;
  width: 100%;
  height: 100%;
}
#progressWindow .progressWin {
  background: #337ab7;
  border-radius: 10px;
  padding: 15px;
  opacity: 1;
  color: #ffffff;
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 5001;
}
#progressWindow .progressWin h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.primary-select {
  font-size: 9px;
  height: 20px;
  border-radius: 0;
  background: #337ab7;
  color: #ffffff;
  border: 1px solid #357ebd;
}
.primary-select option {
  background: white;
  color: black;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 10.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar-right .dropdown-menu-left {
  left: 0;
  right: auto;
}
@font-face {
  font-family: 'FontRepetier';
  src: url('../../fonts/repetierfonts.eot?v=1.0');
  src: url('../../fonts/repetierfonts.eot?#iefix&v=1.0') format('embedded-opentype'), url('../../fonts/repetierfonts.woff?v=1.0') format('woff'), url('../../fonts/repetierfonts.ttf?v=1.0') format('truetype'), url('../../fonts/repetierfonts.svg?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.rs {
  display: inline-block;
  font: normal normal normal 14px/1 FontRepetier;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rs-bigger {
  font-size: 1.25em;
}
.rs-curaengine:before {
  content: "C";
}
.rs-cut:before {
  content: "D";
}
.rs-mirror:before {
  content: "E";
}
.rs-scale:before {
  content: "F";
}
.rs-center:before {
  content: "G";
}
.rs-rotate:before {
  content: "H";
}
.rs-autoarrange:before {
  content: "I";
}
.rs-sdcard:before {
  content: "J";
}
.rs-pushmessage:before {
  content: "K";
}
.rs-key:before {
  content: "L";
}
.rs-file-video:before {
  content: "M";
}
.rs-file-image:before {
  content: "N";
}
.rs-file-gcode:before {
  content: "O";
}
.rs-file-object:before {
  content: "P";
}
.rs-file:before {
  content: "Q";
}
.rs-repetier-slicer:before {
  content: "R";
}
.rs-slice:before {
  content: "S";
}
.rs-motor:before {
  content: "U";
}
.rs-motor-off:before {
  content: "V";
}
.rs-extruder:before {
  content: "W";
}
.rs-heated-bed:before {
  content: "Y";
}
.rs-support-none:before {
  content: "a";
}
.rs-support-bed:before {
  content: "b";
}
.rs-support-everywhere:before {
  content: "c";
}
.rs-brim:before {
  content: "d";
}
.rs-raft:before {
  content: "e";
}
.rs-no-skirt:before {
  content: "f";
}
.rs-skirt:before {
  content: "g";
}
.rs-infill-concentric:before {
  content: "h";
}
.rs-infill-lines:before {
  content: "i";
}
.rs-infill-grid:before {
  content: "j";
}
.rs-infill-connected-lines:before {
  content: "k";
}
.rs-infill-auto:before {
  content: "l";
}
.rs-bed:before {
  content: "m";
}
.rs-filament:before {
  content: "n";
}
.rs-fan:before {
  content: "o";
}
.rs-speed:before {
  content: "p";
}
.rs-flow:before {
  content: "q";
}
.rs-backspace:before {
  content: "r";
}
.rs-chamber:before {
  content: "s";
}
.rs-printer:before {
  content: "t";
}
.rs-topleft:before {
  content: "u";
}
.rs-topright:before {
  content: "v";
}
.rs-bottomleft:before {
  content: "w";
}
.rs-bottomright:before {
  content: "x";
}
.rs-print:before {
  content: "B";
}
.rs-webcam:before {
  content: "y";
}
.rs-temperature:before {
  content: "X";
}
.rs-timelapse:before {
  content: "Z";
}
.rs-firmwareupload:before {
  content: "z";
}
.rs-emergency:before {
  content: "A";
}
.rs-emergency-1 {
  color: #ffcc00;
}
.rs-emergency-1:before {
  content: "\00a2";
}
.rs-emergency-2 {
  color: #000000;
}
.rs-emergency-2:before {
  content: "\00a4";
}
.rs-emergency-3 {
  color: #c00808;
}
.rs-emergency-3:before {
  content: "\00a3";
}
.rs-emergency-4 {
  color: #ffffff;
}
.rs-emergency-4:before {
  content: "\00a1";
}
.rs-eeprom-settings:before {
  content: "\00a5";
}
.rs-log:before {
  content: "\00a6";
}
.rs-tempcurve:before {
  content: "\00a8";
}
.rs-wheel:before {
  content: "\00a8";
}
.rs-autoposition-a:before {
  content: "\0021";
}
.rs-autoposition-b:before {
  content: "\0022";
}
.rs-center-a:before {
  content: "\0023";
}
.rs-center-b:before {
  content: "\0024";
}
.rs-dropdown-a:before {
  content: "\0025";
}
.rs-dropdown-b:before {
  content: "\0026";
}
.rs-layflat-a:before {
  content: "\0027";
}
.rs-layflat-b:before {
  content: "\0028";
}
.rs-duplicate-a:before {
  content: "\002a";
}
.rs-duplicate-b:before {
  content: "\0029";
}
.rs-move-a:before {
  content: "\002b";
}
.rs-move-b:before {
  content: "\002c";
}
.rs-resize-a:before {
  content: "\002d";
}
.rs-resize-b:before {
  content: "\002e";
}
.rs-rotate-a:before {
  content: "\0030";
}
.rs-rotate-b:before {
  content: "\002f";
}
.rs-showtriangles-a:before {
  content: "\0032";
}
.rs-showtriangles-b:before {
  content: "\0031";
}
.rs-sliceobjects-a:before {
  content: "\0033";
}
.rs-sliceobjects-b:before {
  content: "\0034";
}
.rs-splitobjects-a:before {
  content: "\0035";
}
.rs-splitobjects-b:before {
  content: "\0036";
}
.rs-mirror-a:before {
  content: "\0037";
}
.rs-mirror-b:before {
  content: "\0038";
}
.rs-distance-a:before {
  content: "\0039";
}
.rs-distance-b:before {
  content: "\003a";
}
.rs-google-drive:before {
  content: "\00a9";
}
.rs-fw {
  width: 30px;
  text-align: left;
}
.rs-bigtab {
  vertical-align: top;
  font-size: 20px !important;
  padding-right: 4px;
}
.rs-big {
  vertical-align: top;
  font-size: 20px !important;
}
.rs-bigger-xs {
  font-size: 16px !important;
}
/* BEGIN Thin */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Thin/RobotoDraft-Thin.woff2?v=1.0.0") format("woff2"), url("/fonts/Thin/RobotoDraft-Thin.woff?v=1.0.0") format("woff"), url("/fonts/Thin/RobotoDraft-Thin.ttf?v=1.0.0") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* END Thin */
/* BEGIN Light */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Light/RobotoDraft-Light.woff2?v=1.0.0") format("woff2"), url("/fonts/Light/RobotoDraft-Light.woff?v=1.0.0") format("woff"), url("/fonts/Light/RobotoDraft-Light.ttf?v=1.0.0") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("/fonts/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("/fonts/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("/fonts/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("/fonts/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("/fonts/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("/fonts/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("/fonts/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("/fonts/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Medium/RobotoDraft-Medium.woff2?v=1.0.0") format("woff2"), url("/fonts/Medium/RobotoDraft-Medium.woff?v=1.0.0") format("woff"), url("/fonts/Medium/RobotoDraft-Medium.ttf?v=1.0.0") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* END Medium */
/* BEGIN Bold */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("/fonts/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("/fonts/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("/fonts/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("/fonts/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("/fonts/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("/fonts/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: RobotoDraft;
  src: url("/fonts/Black/RobotoDraft-Black.woff2?v=1.0.0") format("woff2"), url("/fonts/Black/RobotoDraft-Black.woff?v=1.0.0") format("woff"), url("/fonts/Black/RobotoDraft-Black.ttf?v=1.0.0") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* END Black */
