<div ng-if="active.status.online==0">
    <div style="padding-top:20px">
        <h1 style="text-align: center"><?php _('Printer not Connected') ?></h1>
    </div>
</div>
<div ng-if="active.status.online">
    <div class="move-control">
        <div class="row">
            <span class="col-4"> X: {{active.state.x | number:2}} </span>
            <span class="col-4"> Y: {{active.state.y | number:2}} </span>
            <span class="col-4"> Z: {{active.state.z | number:2}} </span>
        </div>

        <div class="clearfix"></div>

        <div class="margin-top">
            <div style="text-align: center;" class="col-5">
                <div>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="yMoveRel(moveDistance)">
                        <i class="fa fa-arrow-up"></i></button>
                </div>
                <div class="margin-top">
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="xMoveRel(-moveDistance)">
                        <i class="fa fa-arrow-left"></i></button>
                    <span style="display: inline-block;width:60px">X/Y</span>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="xMoveRel(moveDistance)">
                        <i class="fa fa-arrow-right"></i></button>
                </div>
                <div class="margin-top">
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="yMoveRel(-moveDistance)">
                        <i class="fa fa-arrow-down"></i></button>
                </div>
            </div>

            <div style="text-align: center;" class="col-3">
                <div>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="zMoveRel(moveDistance)">
                        <i class="fa fa-arrow-up"></i></button>
                </div>
                <div class="margin-top">
                    <span style="display: inline-block;width: 60px;height: 44px;vertical-align: middle;line-height: 44px">Z</span>
                </div>
                <div class="margin-top">
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="zMoveRel(-moveDistance)">
                        <i class="fa fa-arrow-down"></i></button>
                </div>
            </div>

            <div style="text-align: center;" class="col-4">
                <div>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="RSPrinter.eMoveRel(-moveDistance, activeConfig.extruders[active.state.activeExtruder].extrudeSpeed)">
                        <i class="fa fa-caret-up fa-lg"></i></button>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="RSPrinter.eMoveRel(-moveDistance, activeConfig.extruders[active.state.activeExtruder].retractSpeed)">
                        <i class="fa fa-backward fa-rotate-90"></i></button>
                </div>
                <div class="margin-top">
                    <span style="display: inline-block;width: 60px;height: 44px;vertical-align: middle;line-height: 44px"><i class="rs rs-extruder"></i> 1</span>
                </div>
                <div class="margin-top">
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="RSPrinter.eMoveRel(moveDistance, activeConfig.extruders[active.state.activeExtruder].extrudeSpeed)">
                        <i class="fa fa-caret-down fa-lg"></i></button>
                    <button class="btn btn-default iconwidth" ng-disabled="printing" ng-click="RSPrinter.eMoveRel(moveDistance, activeConfig.extruders[active.state.activeExtruder].retractSpeed)">
                        <i class="fa fa-backward fa-rotate-270"></i></button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="btn-group margin-top btn-group-justified">
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="0.01">0.01</label>
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="0.1">0.1</label>
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="1">1</label>
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="10">10</label>
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="50">50</label>
            <label class="btn btn-default" ng-model="moveDistance" uib-btn-radio="100">100</label>
        </div>
        <div class="btn-group btn-group-justified margin-top">
            <label class="btn btn-default" ng-if="activeConfig.movement.xEndstop" ng-click="RSPrinter.sendGCode('G28 X0')" ng-disabled="printing"><i class="fa fa-home rs-bigger"></i>
                X</label>
            <label class="btn btn-default" ng-if="activeConfig.movement.yEndstop" ng-click="RSPrinter.sendGCode('G28 Y0')" ng-disabled="printing"><i class="fa fa-home rs-bigger"></i>
                Y</label>
            <label class="btn btn-default" ng-if="activeConfig.movement.zEndstop" ng-click="RSPrinter.sendGCode('G28 Z0')" ng-disabled="printing"><i class="fa fa-home rs-bigger"></i>
                Z</label>
            <label class="btn btn-default" ng-if="activeConfig.movement.allEndstops" ng-click="RSPrinter.sendGCode('G28')" ng-disabled="printing"><i class="fa fa-home rs-bigger"></i> <?php _('All') ?>
            </label>
        </div>
        <div class="btn-group btn-group-justified margin-top">
            <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-click="RSPrinter.power()" uib-btn-checkbox="" ng-model="active.state.powerOn" title="Strom"><i class="fa fa-plug rs-bigger"></i>
            </label>
            <label class="btn btn-default" title="Motoren aus" ng-click="RSPrinter.motorsOff()" ng-disabled="printing"><i class="rs rs-motor-off rs-bigger"></i>
            </label>
            <label class="btn btn-default" title="Schalte Innenbeleuchtung an und aus" ng-click="RSPrinter.toggleCaseLights()"><i class="fa fa-lightbulb-o rs-bigger"></i>
            </label>
        </div>
    </div>


    <div class="speed-temperature-controls">
        <div uib-dropdown class="margin-bottom" style="position: relative">
            <button type="button" class="btn btn-primary btn-trash" uib-dropdown-toggle style="width:100%">
                 <?php _('Commands') ?> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" style="width: 100%;">
                <li ng-repeat="c in activeConfig.quickCommands">
                    <a href="javascript:void(0)" ng-click="RSPrinter.sendGCode(c.command)">{{c.name}}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-1 center"><i class="rs rs-speed"></i></div>
            <div class="col-3 speed-temperature"><?php _('Speed') ?></div>
            <div class="col-3 speed-temperature"></div>
            <div class="col-3">
                <div class="btn btn-icon btn-default speed-temperature" style="width:70px" ng-click="changeSpeed()">
                    {{active.state.speedMultiply}}%
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 center"><i class="rs rs-flow"></i></div>
            <div class="col-3 speed-temperature"><?php _('Flow') ?></div>
            <div class="col-3 speed-temperature"></div>
            <div class="col-3">
                <div class="btn btn-icon btn-default speed-temperature" style="width:70px" ng-click="changeFlow()">
                    {{active.state.flowMultiply}}%
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 center"><i class="rs rs-fan"></i></div>
            <div class="col-3 speed-temperature"><?php _('Fan') ?></div>
            <div class="col-3 speed-temperature"></div>
            <div class="col-3">
                <div class="btn btn-icon btn-default speed-temperature" style="width:70px" ng-click="changeFanSpeed()">
                    {{active.state.fanPercent}}%
                </div>
            </div>
            <div class="col-2">
                <feswitch ng-model="active.state.fanOn" changed="RSPrinter.setFanOn(value)"></feswitch>
            </div>
        </div>
        <div class="row" ng-repeat="e in active.state.extruder track by $index">
            <div class="col-1 center"><i class="rs rs-extruder"></i></div>
            <div class="col-3 speed-temperature"><div style="font-size:14px" class="btn btn-default btn-md" ng-disabled="printing" ng-click="RSPrinter.selectExtruder($index)" ng-class="{bold:active.state.activeExtruder==$index}"> <?php _('Extruder') ?>
                {{$index+1}}</div>
            </div>
            <div class="col-3 speed-temperature" style="text-align: right">{{e.tempRead | number:1}}°C |&nbsp;</div>
            <div class="col-3">
                <div class="btn btn-icon btn-default speed-temperature" style="width:70px" ng-click="changeExtruderTemp($index,e)">
                    {{e.tempSet}}°C
                </div>
            </div>
            <div class="col-2">
                    <div class="btn btn-danger btn-icon speed-temperature" style="display:block" ng-click="disableExtruder($index)"><i class="fa fa-power-off"></i></div>
            </div>
        </div>
        <div class="row" ng-if="activeConfig.general.heatedBed">
            <div class="col-1 center"><i class="rs rs-heated-bed"></i></div>
            <div class="col-3 speed-temperature"><?php _('Bed') ?></div>
            <div class="col-3 speed-temperature" style="text-align: right">{{active.state.heatedBed.tempRead |
                number:1}}°C |&nbsp;</div>
            <div class="col-3">
                <div class="btn btn-icon btn-default speed-temperature" style="width:70px" ng-click="changeBedTemp()">
                    {{active.state.heatedBed.tempSet}}°C
                </div>
            </div>
            <div class="col-2">
                <div class="btn btn-danger btn-icon speed-temperature" style="display:block" ng-click="disableBed($index)"><i class="fa fa-power-off"></i></div>
            </div>
        </div>

    </div>
    <div class="clearfix" style="margin-left:15px">
        
    </div>
    <div style="padding-left:15px;padding-right:15px;margin-top:-10px;position:relative;"><div style="position:absolute;left:73px;top:8px;"><?php _('Current Extruder') ?> {{active.state.activeExtruder+1}}</div>
        <temp-chart history="active.state.extruder[active.state.activeExtruder].history" style="height:130px;"></temp-chart>
    </div>

</div>
